openapi: 3.0.0
info:
  version: "v1.1.1"
  title: 'Disturbance Check - KPN'
  description: >-
    This API allows you to check the disturbance of the internet and the technology at an address. The API takes the postcode, house number and house extension, sends the request to the backend to retrieve real time information about the internet and technology service at the address.

    ### Key highlights

    - **Sandbox:** Full-fledged capabilities.

    - **Security:**  HTTPS, OAuth, Rate limit.

    - **Versioning:**  Supports version-less API, version tight. If no version
    is provided (in header) it defaults to latest version. 

    ---
    
    ## [KPN Developer](https://developer.kpn.com/)<br/>
    [Getting Started](https://developer.kpn.com/getting-started)
    
    ---

  contact:
    name: API Support
    email: api_developer@kpn.com
    url: 'https://developer.kpn.com/support'
  termsOfService: 'https://developer.kpn.com/legal'
servers:
  - url: 'https://api-prd.kpn.com/network/kpn/disturbance-check'
externalDocs:
  description: HTTP response headers
  url: https://developer.kpn.com/documentation-response-headers
tags:
  - name: default
    description: ''
paths:
  /address:
    get:
      tags: [default]
      summary: get info
      description: Retrieves the information about internet connection and technology for the given address identified by postcode, house number and house extension.
      security:
      - oauth2: []
      parameters:
        - $ref: "#/components/parameters/api_version"
        - $ref: "#/components/parameters/zip_code_query"
        - $ref: "#/components/parameters/house_number_query"
        - $ref: "#/components/parameters/house_number_extension_query"
      responses:
        '200':
          $ref: '#/components/responses/success'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many'
        '500':
          $ref: '#/components/responses/server_error'
        '503':
          $ref: '#/components/responses/service_unavailable'

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials
          scopes: {}
  parameters:
    api_version:
      in: header
      name: api-version
      schema:
        type: string
        default: ""
      description: >-
          API Version. If no version is provided it defaults to latest version.
      required: false
      
    api_version_query:
      in: query
      name: api-version
      schema:
        type: string
      description: >-
          API Version. If no version is provided it defaults to latest version.
      required: false
    zip_code_query:
      in: query
      name: zip_code
      schema:
        type: string
        default : "{{zip_code}}"
      description: >-
          Zip code of the address. Format `1111AR`.
      required: true
      
    house_number_query:
      in: query
      name: house_number
      schema:
        type: string
        default : "{{house_number}}"
      description: >-
          House number of the address.
      required: true
    house_number_extension_query:
      in: query
      name: house_number_extension
      schema:
        type: string
        default : "{{house_number_extension}}"
      description: >-
          House number extension of the address.
      required: false

  schemas:
    search:
      type: object
      properties:
        broadband: 
          $ref: "#/components/schemas/broadband"
        fixed: 
          $ref: "#/components/schemas/fixed"
        mobile: 
          $ref: "#/components/schemas/mobile"
        generic: 
          $ref: "#/components/schemas/generic"
    broadband:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            description: Identifier
          affected_elements_count:
            type: integer
            description: affected elements count
          affected_customers_count:
            type: integer
            description: affected customers count
          communicated_customers_sms_count:
            type: integer
            description: communicated customers sms count
          communicated_customers_email_count:
            type: integer
            description: communicated customers email count
          type:
            type: string
            description: type
          cause:
            type: string
            description: cause
          source:
            type: string
            description: affected customers count
          service:
            type: string
            description: service
          state:
            type: string
            description: affected customers count
          start_date:
            type: string
            description: start date
          end_date:
            type: string
            description: end date
          region:
            type: string
            description: region
          description:
            type: string
            description: description
          long_description:
            type: string
            description: long description
          serviceguard_ticket_id:
            type: string
            description: serviceguard ticket id
          created_at:
            type: string
            description: created at
          communication_type:
            type: string
            description: communication type
          user:
            type: string
            description: user
    fixed:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            description: Identifier
          affected_elements_count:
            type: integer
            description: affected elements count
          affected_customers_count:
            type: integer
            description: affected customers count
          communicated_customers_sms_count:
            type: integer
            description: communicated customers sms count
          communicated_customers_email_count:
            type: integer
            description: communicated customers email count
          type:
            type: string
            description: type
          cause:
            type: string
            description: cause
          source:
            type: string
            description: affected customers count
          service:
            type: string
            description: service
          state:
            type: string
            description: affected customers count
          start_date:
            type: string
            description: start date
          end_date:
            type: string
            description: end date
          region:
            type: string
            description: region
          description:
            type: string
            description: description
          long_description:
            type: string
            description: long description
          serviceguard_ticket_id:
            type: string
            description: serviceguard ticket id
          created_at:
            type: string
            description: created at
          communication_type:
            type: string
            description: communication type
          user:
            type: string
            description: user
    mobile:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            description: Identifier
          affected_elements_count:
            type: integer
            description: affected elements count
          affected_customers_count:
            type: integer
            description: affected customers count
          communicated_customers_sms_count:
            type: integer
            description: communicated customers sms count
          communicated_customers_email_count:
            type: integer
            description: communicated customers email count
          type:
            type: string
            description: type
          cause:
            type: string
            description: cause
          source:
            type: string
            description: affected customers count
          service:
            type: string
            description: service
          state:
            type: string
            description: affected customers count
          start_date:
            type: string
            description: start date
          end_date:
            type: string
            description: end date
          region:
            type: string
            description: region
          description:
            type: string
            description: description
          long_description:
            type: string
            description: long description
          serviceguard_ticket_id:
            type: string
            description: serviceguard ticket id
          created_at:
            type: string
            description: created at
          communication_type:
            type: string
            description: communication type
          user:
            type: string
            description: user
    generic:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            description: Identifier
          affected_elements_count:
            type: integer
            description: affected elements count
          affected_customers_count:
            type: integer
            description: affected customers count
          communicated_customers_sms_count:
            type: integer
            description: communicated customers sms count
          communicated_customers_email_count:
            type: integer
            description: communicated customers email count
          type:
            type: string
            description: type
          cause:
            type: string
            description: cause
          source:
            type: string
            description: affected customers count
          service:
            type: string
            description: service
          state:
            type: string
            description: affected customers count
          start_date:
            type: string
            description: start date
          end_date:
            type: string
            description: end date
          region:
            type: string
            description: region
          description:
            type: string
            description: description
          long_description:
            type: string
            description: long description
          serviceguard_ticket_id:
            type: string
            description: serviceguard ticket id
          created_at:
            type: string
            description: created at
          communication_type:
            type: string
            description: communication type
          user:
            type: string
            description: user
    error:
      type: object
      properties:
        transactionId:
          type: string
          description: Transaction id of the the request
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error
          title: Info

  responses:
    success:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/search"
    bad_request:
      description: bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    unauthorized:
      description: unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    forbidden:
      description: forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    not_found:
      description: not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    too_many:
      description: too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    server_error:
      description: server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    service_unavailable:
      description: service unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'